.social ul {
    list-style: none!important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    color: #96272F!important;
    padding:0;
}

.social {
    background-color: #bcbcc4!important;
    padding-top: 15px ;
}

.social li a {
    font-size: 1vw!important;
    padding: 10px;
    color:#96272F;
    font-weight: bold;
    font-family: 'Orbitron';
}

#rezoSeparator {
    width:75%;
    border:#96272F 1px solid;
    margin : auto;
}